[Unit]
Description=Nexus IQ Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/sonatype/iqserver/extra/daemon/nexus-iq-server start
ExecStop=/opt/sonatype/iqserver/extra/daemon/nexus-iq-server stop
User=iqserver
Restart=on-abort

[Install]
WantedBy=multi-user.target
